name: Publish Docker and WSL Images (TACC fork)

on:
  push:
    branches:
    - master
    tags:
    - v*

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    timeout-minutes: 2880
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Log in to GHCR
      uses: docker/login-action@v3 
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ghcr.io/${{ github.repository_owner }}/odm
        tags: |
          type=semver,pattern={{version}}
          type=raw,value=latest
    - name: Build and push Docker image
      id: docker_build
      uses: docker/build-push-action@v5
      with:
        file: ./portable.Dockerfile
        platforms: linux/amd64
        push: true
        cache-from: |
          type=gha,scope=portable
          type=registry,ref=ghcr.io/${{ github.repository_owner }}/odm:buildcache
        cache-to: |
          type=gha,scope=portable,mode=max
          type=registry,ref=ghcr.io/${{ github.repository_owner }}/odm:buildcache,mode=min
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
